{% extends 'base.html.twig' %}

{% block body %}
<div>
 <span>Wybierz użytkownika: </span>
<select id='users'>
    {% for user in users %}
        <option value="{{ user.id }}">{{ user.name }}</option>
    {% endfor %}
</select>
    <button id="send">Wyślij notyfikację</button>
    <button id="remove">Usuń użytkownika</button>
</div>

<a href="{{ path('notification_add', { 'type' : 'user'}) }}">Dodaj użytkownika</a>
<a href="{{ path('notification_add', { 'type' : 'contact'}) }}">Dodaj kontakt</a>


    <script>

        document.getElementById('send').addEventListener('click', () => {
            window.location.href = '/notification/send/'+document.getElementById('users').value;
        });

        document.getElementById('remove').addEventListener('click', () => {
            window.location.href = '/remove_user/'+document.getElementById('users').value;
        });
    </script>

{% endblock %}

